<%= form_tag users_path, method: :get do %>
  <%= select_tag "sort_by", "<option>Percentage Match</option><option>Age</option><option>City</option><option>Newest</option>".html_safe%>
  <%= submit_tag "Sort" %>
<% end %>
