
<div class ="galler-pages-containers">


<h1>Friends</h1>


<% if @current_user.friends.empty? %>
    <h3>No friends yet</h3>
    <% else %>
    <div class = "image-gallery">
    <% @current_user.friends.each do |friend| %>

    <div class ="container">
    <%= link_to (image_tag("#{friend.avatar_pic}")), user_path(friend), class: "gallery-img image"  %><br>
    <div class="middle">
    <div class = "text" >
      <%= link_to ("#{User.percentage_match(friend, @current_user)}% Match #{friend.username.capitalize}"), friend %>
    </div>
    </div>
    </div>
    <% end %>
<% end %>

</div>

</div>
