<h1>Friends</h1>

<% if @current_user.friends.empty? %>
    No friends yet
    <% else %>
    <% @current_user.friends.each do |friend| %>
      <p><%= link_to friend.username, friend %></p>
    <% end %>
<% end %>
