<div class = "about-us-page">

  <h1>About Find Your Foodie</h1>
  <h2>Established in 2019 by Tali and Matt.</h2>
  <p>Find Your Foodie hopes to bring the world closer together<br>through delicious food friendships.</p>

</div>
