<div id= "home_page">
  <h1 id="main-page-title">FIND YOUR FOODIE</h1>
    <div class="login_or_signup">
        <div class="ui buttons">
            <button class="ui button active"><%= link_to "Login", login_path %></button>
            <div class="or"></div>
            <button class="ui positive button"><%= link_to "Signup", new_user_path %></button>
        </div>
    </div>
</div>
