<h1>Pending Friends Requests</h1>

<% @friendships.each do |friendship| %>
  <% if @current_user.id == friendship.friend_id %>
    <% if !friendship.accepted %>
      <p><%= friendship.user.username %> wants to be your friend
      <%= button_to "LETS EAT ðŸ©", friendship_path(friendship) %>
      <%= button_to "I'M FULLLL", friendship_path(friendship), method: :delete, data: {confirm: "Really? That's kinds mean... ðŸ˜¢"} %></p>
      <% else %>
      <p>No pending friend requests</p>
    <% end %>
  <% end %>
<% end %>
