<h1>Pending Friends Requests</h1>
<% if @current_user.num_pending_requests > 0 %>
  <% @friendships.each do |friendship| %>
    <% if @current_user.id == friendship.friend_id %>
      <% if !friendship.accepted %>
        <p><%= friendship.user.username %> wants to be your friend
          <%= button_to "ACCEPT FOODIE ðŸ©", friendship_path(friendship) %>
          <%= button_to "DECLINE", friendship_path(friendship), method: :delete, data: {confirm: "Really? That's kinds mean... ðŸ˜¢"} %></p>
          <% end %>
        <% end %>
      <% end %>
  <% else %>
  <p>No pending friend requests</p>
<% end %>
