/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
   cursor: pointer;
 }

 body {
   text-align: center;
 }

 button a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

button {
  padding: 15px;
}

/************************* TOP NAV BAR **************************/

  #top_nav {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    background-color: yellow;
  }

  .nav_button {
    display: inline-block;
    margin-right: 10px;
  }

 /************************* HOME PAGE **************************/

 #home_page {
   height: 100%;
   width: 100%;
   background-image: url("/assets/donut.jpg");
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 #main-page-title {
   color: white;
   font-size: 70px;
 }

 /************************* NEW USER FORM **************************/
